/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 ***************************************************************************/

body
{
    font-family:  Helvetica, Arial, sans-serif;
}

.container
{
    /*width:90%;
    margin: auto;*/
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
}

#top
{
    /* center contents */
    text-align: center;
}

#middle
{
    /* center contents */
    text-align: center;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;

    /* center contents */
    text-align: center;
}

.table table 
{
   border-spacing: 0;
   margin:auto;
   border-collapse:collapse;
   font-size: 10px;
}

.table th, .table td
{
    padding: 2px;
    border: solid thin black;
    vertical-align: middle;
}

.slot_row_1, #my_slots tr:nth-child(odd)
{
    background-color: #b8cce4;
}

#profile_table td
{
    font-size:15px;
    padding: 10px;
}

.navigator td, .navigator th
{
    padding: 10px;
    vertical-align: middle;
    border: black thin solid;
    background-color : #ffe599;
    font-size: 18px;
}

.navigator a
{
    text-decoration: none;
    color: black;
}

.navigator a.link .navigator a.visited
{
    font-style: none;
    color: black;
}

.control-group
{
    margin: 7px;
}

td.my_slot
{
    background-color: #365f91;
    color: white;
    font-weight: bold;
}

td.others_slot
{
    background-color: #a6a6a6;
    color: black;
    font-weight: bold;
}

#date_nav
{
    margin: 20px;
}

#date_nav th
{
    font-size: 12px;
}

.navigator table
{
    margin: auto;
    border-collapse: separate;
    border-spacing: 5px;
}

#slots_table, #slots_table_head
{
    table-layout: fixed;
    width: 1034px;
}

th.time, th.date, td.time
{ 
    white-space:pre;
}

th.band, th.mode,th.time_name, th.time, #my_slots th
{
    background-color: #365f91;
    color: white;
    font-size: 14px;
}


th.mode, th.time, th.time_name
{
    font-size: 11px;
}

th.date
{
    font-size: 14px;
    background-color: #ffe599;
    width: 63px;
}

th.time_name
{
    width: 35px;
}

th.time
{
    width: 72px;
}


#date_nav th.not_today
{
    background-color: white;
}

#my_slots table
{
    font-size: 14px;
}

.fixed{
  top:0;
  position:fixed;
  /*width:auto;*/
  margin: auto;
  display:none;
  border:none;
  table-layout:fixed;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}

#guides
{
    font-size: 11px;
}
